/* CustomFood.module.css */
.container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 380px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.groupButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.groupButton:hover {
  background-color: #45a049;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.submitButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #45a049;
}