.failedMessage {
  z-index: 99;
  background-color: rgb(227, 6, 35); 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
  position: fixed; 
  top: 20px; 
  right: 20px; 
}

.failedMessageButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.failedMessage button:focus {
  outline: none;
}
