.container{
    composes: container from "./NutritionTemplate.module.css";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.body_container_barChar{
    composes: body_container_barChar from "./NutritionTemplate.module.css";
    width: 65%;
    padding: 20px;
}