.body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}
.barCharSection{
  background-color: #fff;
  border: 2px solid #00b050;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  height: 700px;
  width: 100%;
}
.section {
  background-color: #fff;
  border: 2px solid #00b050;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}


.sectionH2 {
  font-weight: bold;
  color: #00b050;
}

.functions,
.sources {
  margin: 10px 0;
}

.functionsUl,
.sourcesUl {
  list-style-type: disc;
  margin-left: 20px;
}
