version: '3.8'

services:
  mysql-db:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: reactiveDB
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend

  nginx:
    build:
        context: ./proxy_server
        dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mysql_data:
    driver: local
