global:
  scrape_interval:     15s 
  evaluation_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'eureka'
    metrics_path: '/actuator/prometheus' 
    static_configs:
      - targets: ['localhost:8761/eureka/apps'] 
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 'localhost:9090'
    metric_relabel_configs:
      - source_labels: [instance]
        regex: '.*'
        replacement: '${1}'
        target_label: instance