.diagram {
  width: 50%;
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  border: 1px solid #90a4ae; /* Same color for border */
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eceff1;
}
.dailyTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.title {
  font-size: 2em;
}
.reportOptions {
  display: flex;
  justify-content: space-between;
  border: 1px solid #90a4ae; /* Same color for border */
  border-radius: 10px;
  width: 50%;
  overflow: hidden; /* This makes the border radius apply to the buttons */
}

.reportOptions button {
  padding: 10px 20px;
  border: none;
  background-color: #cfd8dc; /* Lighter shade for background */
  cursor: pointer;
  transition: all 0.3s ease;
  flex-grow: 1;
  text-align: center;
  width: 50%;
  position: relative;
  box-sizing: border-box; /* Add this line */
  color: #455a64; /* Darker shade for text */
}

.reportOptions button:not(:last-child) {
  border-right: 1px solid #90a4ae; /* Same color for border */
}

.reportOptions button:hover {
  background-color: #b0bec5;
}
.BarChart2_container {
  overflow-x: auto;
}
.diagram_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
