.body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}
.h1 {
  text-align: center;
  padding: 20px;
}
.container {
  display: grid;
  justify-content: center; 
  align-content: center; 
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  padding: 20px;
}
.containerVitamins {
  display: grid;
  justify-content: center; 
  align-content: center; 
  grid-template-columns: repeat(13, 75px);
  gap: 20px;
  padding: 20px;
}

.containerElectrolytes {
  display: grid;
  justify-content: center; 
  align-content: center; 
  grid-template-columns: repeat(5, 150px);
  gap: 20px;
  padding: 20px;
}

.containerMacronutrients {
  display: grid;
  justify-content: center; 
  align-content: center; 
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  padding: 20px;
}
.category {
  background-color: #fff;
  border: 2px solid #00b050;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
}

.categoryParagraph {
  margin: 0;
  font-weight: bold;
  color: #00b050;
}
.category.active {
  transform: scale(1.1);
}

.category.active + .details {
  display: block;
}
