global:
  scrape_interval:     15s 
  evaluation_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'eureka-discovery'
    scrape_interval: 15s
    scrape_timeout: 15s
    eureka_sd_configs:
    - server: http://localhost:8761/eureka
      refresh_interval: 30s
    relabel_configs:
    - source_labels: [__meta_eureka_app_name]
      target_label: application
    - source_labels: [__meta_eureka_app_instance_metadata_metrics_path]
      target_label: __metrics_path__
    - source_labels: [__address__]
      target_label: instance