.container {
  background-color: #627c93; /* even lighter gray background */
  color: #ffffff; /* white text */
  font-family: "Arial", sans-serif; /* Arial font */
  padding: 20px;
  border-radius: 5px;
}

.container_h1 {
  text-align: center;
  font-size: 2em;
  color: #ffffff; /* white text */
  font-family: 'Arial', sans-serif; /* Arial font */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #37474f; /* text shadow for better visibility */
}

.container_p {
  text-align: center;
  font-size: 1.2em; /* smaller than the title */
  color: #ffffff; /* white text */
  font-family: 'Arial', sans-serif; /* Arial font */
  margin: 10px;
  text-shadow: 1px 1px 2px #37474f; /* lighter text shadow for subtlety */
  font-style: italic; /* make the font italic */

}

.container_gauge {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.container_gauge_category {
  background-color: #546e7a; /* lighter gray background */
  color: #ffffff; /* white text */
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Arial font */
  font-size: 17px; /* larger font size */
}

.container_gauge_category:hover {
  background-color: #37474f; /* even darker gray on hover */
}

.container_info_info {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 30%;
  padding: 10px;
  margin-bottom: 10px; /* add space between elements */
  background-color: #546e7a; /* lighter gray background */
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff; /* white text */
  font-family: 'Arial', sans-serif; /* Arial font */
  font-size: 16px; /* adjust font size */
}
.container_info_info_info {
  background-color: #627c93; /* even lighter gray background */
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: 10px; /* add space between elements */

}

.container_info_info:hover {
  background-color: #37474f; /* even darker gray on hover */
}
