/* DeleteRecord.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #464444;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.container_deleteButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container_deleteButton:hover {
  background-color: #cc0000;
}
.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.closeButton:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}