.main_container {
    display: grid;
    margin: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-around;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 300px;
  margin: auto;
}

.container_header {
  margin-bottom: 20px;
}

.container_icon {
  color: red;
  font-size: 24px;
  margin-bottom: 10px;
}

.container_text {
  margin-bottom: 10px;
}

.container_select {
  width: 100%;
}
