.main_container {
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 380px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.container_header {
  font-size: 26px;
  margin-bottom: 20px;
}

.container_icon {
  color: red;
  font-size: 24px;
  margin-bottom: 10px;
}

.container_text {
  margin-bottom: 10px;
}

.container_select {
  width: 100%;
}

